##########################
# project specific files #
##########################
.env
**/code/
src/.skylos_trace
*.log
*.pdf
*_scores.txt
.coverage
.coverage.*
coverage.json
.pytest_cache/
.python-version
.venv/
/src/.config_array
/src/tmp/
build/
coverage.xml
dist/
similarity*.pdf
similarity.txt
site/
src/config.ini
src/moss
suspicious.txt
workspace/
##############
# versioning #
##############
/.commitlintrc.json
/.husky/
/node_modules/
get-next-version
###############
# Emacs files #
###############
*_flymake.*
__pycache__/
*~
.\#*
*flycheck*
.dir-locals.el
.mypy_cache/
.projectile
/eshell/history
/eshell/lastdir
/server/
\#*
/package-lock.json

##########
# direnv #
##########
/.envrc
.direnv/
.direnv/
*.cover
*.py,cover
