##########################
# project specific files #
##########################
**/code/
*.log
*.pdf
*_scores.txt
.python-version
/src/.config_array
/src/tmp/
similarity*.pdf
similarity.txt
src/config.ini
src/config.ini
src/moss
suspicious.txt

##############
# versioning #
##############
/.commitlintrc.json
/.husky/
/node_modules/
get-next-version

###############
# Emacs files #
###############
*_flymake.*
__pycache__/
*~
.\#*
*flycheck*
.dir-locals.el
.mypy_cache/
.projectile
/eshell/history
/eshell/lastdir
/server/
\#*
/package-lock.json
