*.log
*_scores.txt
.python-version
Week*/submissions/*
Week*/upload_me/
Week*/*.zip
backup
correction_status
token

###############
# Emacs files #
###############
*_flymake.*
__pycache__/
*~
.\#*
*flycheck*
.dir-locals.el
.mypy_cache/
.projectile
/eshell/history
/eshell/lastdir
/server/
\#*
