CANVAS_HOST_UID=1000
CANVAS_LMS_REF=stable
CANVAS_WEB_PORT=3000

# Database
POSTGRES_PASSWORD=canvas
CANVAS_DATABASE_USERNAME=canvas
CANVAS_DATABASE_DEVELOPMENT=canvas_development

# Canvas setup
ENCRYPTION_KEY=change-me
CANVAS_LMS_ACCOUNT_NAME=Canvas Dev Sandbox
CANVAS_LMS_ADMIN_EMAIL=admin@example.com
CANVAS_LMS_ADMIN_PASSWORD=canvas-admin-password
CANVAS_LMS_STATS_COLLECTION=opt_out

# Sample data users
CANVAS_SAMPLE_TEACHER_EMAIL=teacher@example.com
CANVAS_SAMPLE_TEACHER_PASSWORD=canvas-teacher-password
CANVAS_SAMPLE_STUDENT_EMAIL=student@example.com
CANVAS_SAMPLE_STUDENT_PASSWORD=canvas-student-password
