canvasapi==2.2.0
dtale==1.58.3
joblib==1.0.1
matplotlib==3.4.3
multiprocess==0.70.12.2
numpy==1.21.2
p-tqdm==1.3.3
p-tqdm==1.3.3
pandas==1.3.3
plotly==5.3.1
possum==1.4.4
progressbar2==3.53.3
requests==2.26.0
scipy==1.7.1
seaborn==0.11.2
tabulate==0.8.9
tqdm==4.62.3
urllib3==1.26.7
